@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'prismjs/themes/prism.css'; /* for light mode */

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Support for CMYK-inspired palette via CSS vars (optional) */
:root {
  --cmyk-c: #00a0e9;
  --cmyk-m: #ec008c;
  --cmyk-y: #fff200;
  --cmyk-k: #231f20;
}

.dark {
  --cmyk-c: #005f87;
  --cmyk-m: #7c0047;
  --cmyk-y: #bfae00;
  --cmyk-k: #0f0f0f;
}
